.container_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    position: sticky;
    padding-top: 10px;
  }
  
  .img_nav {
    width: 120px;
  }
  .container_nav {
    margin-top: 10px;
    color: rgb(42, 41, 41);
    
  }
  li:hover {
    color: black;
    scale: 1.05;
  }
  
  .nav_items {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  
  .nav_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1.35rem;
    margin-top: 10px;
    margin-right: 15px;
  }
  .responsiveButton{
    translate: 0px 6px;
  }
  hr{
    translate: 0px -10px;
  }

/* Responsive */

  @media (min-width: 768px) {
    .responsiveButton{
      display: none;
    } 
    .img_navResponsive{
      display: none;
      width: 1px;
      height: 1px;
    } 
  }
  @media (max-width: 768px) {
  .nav_items{
    position: absolute;
    top: -700px;
    right: -2000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .img_navResponsive{
    width: 120px;
    translate: 10px -5px;
  } 
   .img_nav{
    display: none;
  }
}

.nav_items.active{
  width: 100%;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 30%;
  left: 0;
  right: 0;
  text-align: center;
  }
